body {
    margin: 0;
}

div {
    width: 200px; 
    height: 200px;
}
h1 {
    background-color: #fcd5ce;
    width: 200px;
    height: 50px;
    padding-left: 100px;
    padding-top: 100px;
    margin-bottom: 0;
}

#one {
    background-color: #f8edeb;
    border-width: 5px;
    border-color: #8a5a44;
    border-style: solid;
    /* box-sizing: border-box; */
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #f9dcc4;
    border-width: 5px;
    border-color: #8a5a44;
    border-style: dashed groove none dotted;
    border-left-color: aquamarine;
    border-left-width: 8px;
    margin: 200px;
}

#three {
    background-color: #fcd5ce;
    border: 5px dashed #8a5a44;
    border-left-style: dotted;
    border-radius: 50% 40% 30% 20%;
}

button {
    padding: 10px 50px;
}